:root
{
    --transparency-value:rgba(0, 0, 0, 0.5);
}
.transparency
{
    background-color: var(--transparency-value) !important;
    box-shadow:0px 0px 12px 2px black !important; 
}
.form-for-search
{
    width:70% !important;
}
.form-for-search input[type="search"]
{
    width:80%;
}